body {
    background-image: url('../img/nen.jpg');
    background-repeat: no-repeat;
}

h1 {
    color: rgb(241, 33, 6);
    width: 100%;
}

table {
    text-align: center;
    color: rgb(3, 1, 27);
    width: 100%;
}

.schedule tr:hover {
    background-color: #FC0;
}

h5 {
    color: #330066;
    width: 100%;
}